<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.com.nxyunzhineng.smart_parking_lock">

    <uses-sdk
        android:maxSdkVersion="24"
        android:minSdkVersion="18"
        />
    <!--
          高德地图的权限
    -->
    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission-sdk-23 android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission-sdk-23 android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    
    <!--   -->
    <!--蓝牙的权限-->
    <uses-permission-sdk-23 android:name="android.permission.BLUETOOTH_PRIVILEGED"/>
    <uses-permission-sdk-23 android:name="android.permission.BLUETOOTH"/>
    <uses-permission-sdk-23 android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED"/>
    <!--  -->




    <uses-feature android:name="android.hardware.bluetooth_le" android:required="false"/>
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="false"
        android:resizeable="true"
        android:smallScreens="true" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".util.UserData"
        >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.FristActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AddActivity"
            android:label="@string/title_activity_add"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--高德地图API的配置-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="8787ee4712b5c8a88c8005fc21643136" />
        <service android:name="com.amap.api.location.APSService" />
        <!--   -->

        <activity android:name=".activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activity.MainActivity"
            >

        </activity>
        <receiver android:name=".util.AppUpdateInstall">
            <intent-filter>
                <action
                    android:name="android.intent.action.DOWNLOAD_COMPLETE"
                    android:enabled="true" />
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.RegActivity"
            android:label="@string/title_activity_reg"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activity.LoginActivity"
            />
        <activity
            android:name=".activity.FindActivity"
            android:label="@string/title_activity_find"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="android.support.v7.app.AppCompatActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.support.v7.app.AppCompatActivity" />
        </activity>

        <service android:name=".service.BluetoothLeService" android:enabled="true"/>
    </application>

</manifest>